<launch> 
 <node name="listener_1" pkg="rosperf" type="perf_listener"  args="1 1000 1" output="screen" />
 <node name="listener_2" pkg="rosperf" type="perf_listener"  args="1 1000 1" output="screen" />
 <node name="listener_3" pkg="rosperf" type="perf_listener"  args="1 1000 1" output="screen" />
 <node name="listener_4" pkg="rosperf" type="perf_listener"  args="1 1000 1" output="screen" />
 <node name="listener_5" pkg="rosperf" type="perf_listener"  args="1 1000 1" output="screen" />
 <node name="listener_6" pkg="rosperf" type="perf_listener"  args="1 1000 1" output="screen" />
 <node name="listener_7" pkg="rosperf" type="perf_listener"  args="1 1000 1" output="screen" />
 <node name="listener_8" pkg="rosperf" type="perf_listener"  args="1 1000 1" output="screen" />
 <node name="listener_9" pkg="rosperf" type="perf_listener"  args="1 1000 1" output="screen" />
 <node name="listener_10" pkg="rosperf" type="perf_listener" args="1 1000 1" output="screen" />
 <node name="listener_11" pkg="rosperf" type="perf_listener" args="1 1000 1" output="screen" />
 <node name="listener_12" pkg="rosperf" type="perf_listener" args="1 1000 1" output="screen" />
 <node name="listener_13" pkg="rosperf" type="perf_listener" args="1 1000 1" output="screen" />
 <node name="listener_14" pkg="rosperf" type="perf_listener" args="1 1000 1" output="screen" />
 <node name="listener_15" pkg="rosperf" type="perf_listener" args="1 1000 1" output="screen" />
 <node name="listener_16" pkg="rosperf" type="perf_listener" args="1 1000 1" output="screen" />
 <node name="listener_17" pkg="rosperf" type="perf_listener" args="1 1000 1" output="screen" />
 <node name="listener_18" pkg="rosperf" type="perf_listener" args="1 1000 1" output="screen" />
 <node name="listener_19" pkg="rosperf" type="perf_listener" args="1 1000 1" output="screen" />
 <node name="listener_20" pkg="rosperf" type="perf_listener" args="1 1000 1" output="screen" />
</launch>
